{% extends 'admin-base.html.twig' %}

{% block title %}MX Park | Admin | Notification{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-10 mx-auto">
        <div class="d-flex  my-4">
          <h1 class="h2">Notification des inscrits à l'entraînement : {{ event.name }}
          </h1>
          <p class="ml-auto">
            {% if origin is defined %}
              {% if (origin == 'admin') %}
                <a class="btn btn-primary" href="{{ path('admin') }}">
                  <i class="fas fa-arrow-circle-left"></i>
                </a>
              {% endif %}
            {% else %}
              <a class="btn btn-primary" href="{{ path('event_index') }}">
                <i class="fas fa-arrow-circle-left"></i>
              </a>
            {% endif %}
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-10 mx-auto">
        {% if element == '0' %}
            {% set subject = 'Report de l\'événement "' ~ event.name ~ '"' %}
            {% set message = 'Bonjour,\n\nÀ cause des intempéries, l\'événement "' ~ event.name ~ '" a été reporté au ' ~ event.date|date('d/m/Y') ~ '. N\'oubliez pas de vous désinscrire sur notre site si jamais vous n\'étiez pas disponible à cette date.\n\nÀ très vite !\n\nL\'équipe de Auribail MX Park.' %}
	    {% elseif element == '1' %}
            {% set subject = 'Annulation de l\'événement "' ~ event.name ~ '"' %}
            {% set message = 'Bonjour,\n\nÀ cause des intempéries, l\'événement "' ~ event.name ~ '" a été annulé.\n\nNous espérons vous revoir très vite !\n\nL\'équipe de Auribail MX Park.' %}
        {% else %}
            {% set subject = 'Message surprise' %}
            {% set message = 'Bonjour,\n\nCeci est une mauvaise manip de la part de notre amour d\'admin..\n\nMerci de votre compréhension,\n\nL\'équipe de Auribail MX Park.' %}
        {% endif %}
        {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
    	<div class="row mt-3">
    	    <div class="col-md-12 mb-2">
				{{ form_label(form.subject) }}
				{{ form_widget(form.subject, {attr: { value : subject, 'placeholder': subject } }) }}
    	    </div>
    	</div>
    	<div class="row">
    	    <div class="col-md-12 mb-2">
				{{ form_label(form.message) }}
				{{ form_widget(form.message, {'attr': { 'placeholder': message } }) }}
    	    </div>
    	</div>
    	<div class="text-center text-md-left form-group">
    	    <button class="btn btn-primary">Envoyer</button>
    	</div>
    	<div class="status"></div>
		{{ form_end(form, {'render_rest': false}) }}
      </div>
    </div>
  </div>
{% endblock %}