{% extends 'admin-base.html.twig' %}

{% block title %}MX Park | Admin | Détail entrainement{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-10 mx-auto">
        <div class="d-flex  my-4">
          <h1 class="h2">Détail entraînement du
            {{ event.date ? event.date|date('d/m/Y') : '' }}
          </h1>
          <p class="ml-auto">
            <a class="btn btn-primary" href="{{ path('event_index') }}">
              <i class="fas fa-arrow-circle-left"></i>
            </a>
            <a class="btn btn-warning" href="{{ path('event_edit', {'id': event.id}) }}">
              <i class="far fa-edit"></i>
            </a>
          </p>
        </div>
        <table class="table table-striped">
          <tbody>
            <tr>
              <th>Date</th>
              <td>{{ event.date ? event.date|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
              <th>Nom</th>
              <td>{{ event.name }}</td>
            </tr>
            <tr>
              <th>Type</th>
              <td>{{ event.type ? 'Adulte' : 'Kids' }}</td>
            </tr>
            <tr>
              <th>Inscription Membres</th>
              <td>{{ event.startMemberSubs }}
                jours avant la session</td>
            </tr>
            <tr>
              <th>Inscription (autres)</th>
              <td>{{ event.startAllSubs }}
                jours avant la session</td>
            </tr>
            <tr>
              <th>Fermeture Inscriptions</th>
              <td>{{ event.endSubs }}
                jours avant la session</td>
            </tr>
          </tbody>
        </table>
        <h2 class="my-4">Liste des inscrits</h2>
        <table class="table table-striped">
          <thead>
            <th>#</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Date Inscription</th>
            <th>Inscription validée ?</th>
          </thead>
          <tbody>
            {% for key,user in users %}
              {% if key == 14 %} <tr class="table-danger"><td colspan="5">Liste d'attente</td></tr> {% endif %}
              <tr {% if key > 13 %}class="table-danger"{% endif %}>
                <td>{{ key + 1 }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.subsdate ? user.subsdate|date('d/m/Y H:i:s') : ''  }}</td>
                <td>{{ user.validationstate ? 'Oui' : 'Non' }}</td>
              </tr>
            {% else %}
              <tr>
                <td colspan="5">Pas d'inscription</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {{ include('event/_delete_form.html.twig') }}
      </div>
    </div>
  </div>

{% endblock %}
