{% extends 'base.html.twig' %}

{% block title %}MX Park | Créer mon compte{% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="row">
        <div class="offset-3 col-6">

            {% for flashError in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}

            <div class="row">
            <div class="col-10">
                <h1>Créer mon compte</h1>
            </div>
            <div class="col-2 mt-3 text-right">
                <p class="ml-auto">
                <a class="btn btn-primary" href="{{ path('home') }}">
                <i class="fas fa-arrow-circle-left"></i>
                </a>
                </p>
            </div>
            </div>

            

            {{ form_start(registrationForm) }}

            {# {% set terms_link %}<a title="{% trans %}Lire les conditions générales d'utilisation{% endtrans %}" href="{{ path('cgu') }}">{% trans %}conditions générales d'utilisation.{% endtrans %}</a>{% endset %}
            {% set general_terms_and_conditions %}{{ 'J\'ai lu et j\'accepte les %general_terms_and_conditions%'|trans({ '%general_terms_and_conditions%': terms_link })|raw }}{% endset %}
            {{ form_errors(registrationForm.agreeTerms) }} #}

            {{ form_row(registrationForm.firstName) }}
            {{ form_row(registrationForm.lastName) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.birthDate) }}
            {{ form_row(registrationForm.phone) }}
            {{ form_row(registrationForm.licenceNumber) }}
            {{ form_row(registrationForm.plainPassword) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <p class="small ml-3">Cliquez <a href="#tcsModal" data-toggle="modal" data-target="#tcsModal">ici</a> pour lire nos conditions générales d'utilisation</p>

            {# {{ form_row(registrationForm.agreeTerms) }}
            <label for="{{ registrationForm.agreeTerms.vars.id }}">{{ general_terms_and_conditions|raw }}</label> #} 


            <button type="submit" class="btn btn-primary mt-3 mb-5">Créer mon compte</button>

            {{ form_end(registrationForm) }}

        </div>
    </div>
</div>


{# Tems and Conditions Modal #}

<div class="modal fade tcsModal" id="tcsModal" data-backdrop="static" tabindex="-1" aria-labelledby="tcsModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header text-center">
            <h2 class="modal-title w-100" id="exampleModalLabel">Conditions générales d'utilisation</h2>
            <div class="row">
            {# <p class="w-100">En vigueur au 16/06/2021</p> #}
            </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ include('registration/cgu.html.twig') }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}