{% extends 'admin-base.html.twig' %}

{% block title %}MX Park | Admin | Modif membre{% endblock %}

{% block body %}
  {# <div class="container"> #}
    <div class="row">
      <div class="col-12 col-lg-10 mx-auto">
        <div class="d-flex  my-4">
          <h1 class="h2">Modification profil de
            {{ user.firstName }}
            {{ user.lastName }}
          </h1>
          <p class="ml-auto">
            <a class="btn btn-primary" href="{{ path('user_index') }}">
              <i class="fas fa-arrow-circle-left"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-10 mx-auto">
        {{ include('user/_form_admin.html.twig', {'button_label': 'Update'}) }}
        {{ include('user/_delete_form_admin.html.twig') }}
      </div>
    </div>

  {# </div> #}

{% endblock %}